/* Global styles */
.chat-container {
  font-size: 16px;
  line-height: 1.5;
}

/* All screen sizes */
.chat-sidebar {
  width: 25%;
}

.chat-main {
  width: 75%;
}

.chat-main.w-full {
  width: 100%;
}

.chat-history {
  max-height: calc(100vh - 250px);
}

.chat-input {
  padding: 16px;
}

/* Medium screens (laptops) and below */
@media (max-width: 1199px) {
  .chat-sidebar {
    width: 30%;
  }
  .chat-main {
    width: 70%;
  }
  .chat-history {
    max-height: calc(100vh - 200px);
  }
  .chat-input {
    padding: 12px;
  }
}

/* Small screens (tablets) and below */
@media (max-width: 991px) {
  .chat-sidebar,
  .chat-main {
    width: 100%;
  }
  .chat-history {
    max-height: calc(100vh - 150px);
    height: 28rem;
  }
  .chat-input {
    padding: 8px;
  }
  .chat-container {
    font-size: 14px;
  }
  .chat-input .MuiInputBase-input {
    font-size: 0.875rem;
  }
  .MuiSvgIcon-root {
    font-size: 1.25rem;
  }
}

/* Extra small screens (mobiles) */
@media (max-width: 767px) {
  .chat-main {
    height: 42rem;
  }
  .chat-history {
    max-height: calc(100vh - 100px);
  }
  .chat-input {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
